---
import MultipleChoice from "./_MultipleChoiceOriginal.astro";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Astro</title>
  </head>
  <body>
    <MultipleChoice>
      <li class="astro-ql7srw2r">
        <label class="astro-ql7srw2r">
          <input
            type="radio"
            class="astro-ql7srw2r"
            name="0.735412946053922"
          /><span class="astro-ql7srw2r"
            ><p>
              Requires more than 2 lines of code to implement site-wide by
              default
            </p></span
          >
        </label>
      </li><li class="astro-ql7srw2r">
        <label class="astro-ql7srw2r">
          <input
            type="radio"
            data-is-correct=""
            class="astro-ql7srw2r"
            name="0.735412946053922"
          /><span class="astro-ql7srw2r"
            ><p>
              Changes the default type of page navigation on a page that
              contains the <code dir="auto">&lt;ViewTransitions /&gt;</code> router
              in its <code dir="auto">&lt;head&gt;</code>
            </p></span
          >
        </label>
      </li><li class="astro-ql7srw2r">
        <label class="astro-ql7srw2r">
          <input
            type="radio"
            class="astro-ql7srw2r"
            name="0.735412946053922"
          /><span class="astro-ql7srw2r"
            ><p>
              Does not add back accessibility features normally provided by the
              browser, such as route announcement and respect for <code
                dir="auto">prefers-reduced-motion</code
              >
            </p></span
          >
        </label>
      </li>
    </MultipleChoice>
  </body>
</html>
