<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>@lift-html/alien test</title>
    <script type="module" src="/alien.client.js"></script>
  </head>
  <body>
    <lift-counter count=1>initial</lift-counter> 
  </body>
</html> 
