<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>Incentive Counter</title>
  <script type="module" src="/incentive.client.js"></script>
  <style>
    lift-counter {
      display: block;
      margin: 1em;
      padding: 1em;
      border: 1px solid #ccc;
    }
  </style>
</head>
<body>
  <lift-counter count="1"></lift-counter>
</body>
</html> 
