<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>My first page</title>
    <script type="module" src="/test.client.js"></script>
  </head>
  <body>
    Hello world!!!

    <lift-counter>0</lift-counter> 
  </body>
</html>
