<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>E2E tests for lift-html</title>
  </head>
  <body>
    <ul>
      <li><a href="/tiny">tiny</a></li>
      <li><a href="/solid">solid</a></li>
      <li><a href="/svelte">svelte</a></li>
      <li><a href="/core">core</a></li>
    </ul> 
  </body>
</html>
