<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>@lift-html/solid button demo</title>
    <script type="module" src="/my-button.client.js"></script>
  </head>
  <body>
    <my-button>
      <button disabled>Loading...</button>
    </my-button>
  </body>
</html>
